@import "tailwindcss";
@plugin "daisyui";


.nav-link {
  @apply text-sm text-gray-200 hover:text-pink-300 transition duration-200;
}

.mobile-link {
  @apply text-gray-200 hover:text-pink-300 transition-all duration-200;
}
